.footer {
    position: relative;
    background-color: #F6F5F5;
    margin-top: -125px;
    z-index: 1;
    padding: 100px;
    padding-bottom: 10px;
}

.footer__container {
    max-width: 1140px;
    margin: 0 auto;
    position: relative;
    z-index: 2;
}

.footer__panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    padding-top: 150px;
}

.footer__f {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.footer__logo {
    display: flex;
    align-items: center;
    padding-right: 100px;
}

.footer__copywright {
    color: #AFB5C0;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.footer__bold {
    color: #AFB5C0;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
}

.footer__icons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.fooder__t {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 10px;
}

.footer__bolder {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

@media screen and (max-width: 768px) {
    .footer {
        padding: 130px 20px 30px;
    }

    .footer__panel {
        flex-direction: column;
        padding-top: 60px;
    }

    .footer__f {
        flex-direction: column;
        align-items: center;
    }

    .footer__logo {
        padding-right: 0;
        margin-bottom: 20px;
    }

    .footer__copywright {
        margin-bottom: 20px;
    }

    .footer__icons {
        margin-bottom: 20px;
    }
}