.header {
    display: flex;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
}

.header__menu {
    display: none;
    width: 32px;
    cursor: pointer;
}

.header__menu > img {
    max-width: 100%;
}

.header__menu-icon {
    width: 40px;
}

.header__logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header__title {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

}

.header__bold {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.header__nav ul {
    display: flex;
}

.header__nav-item {
    margin-right: 40px;
    color: #4F5665;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
}

.header__nav-item:not(:last-child) {
    margin-right: 60px;
  }

.header__buttons {
    display: flex;
    align-items: center;
    gap: 30px; 
}

.header__signup {
    border: 1px solid #F53855; 
    border-radius: 50px; 
    color: #F53855; 
    background-color: #ffffff;
    width: 150px;
    height: 45px;
    flex-shrink: 0;
    font-size: 16px;
    cursor: pointer;
}

.header__signin {
    border: none; 
    background-color: #ffffff;
    color: black;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    cursor: pointer;
    transition: color 0.5s ease-in-out; 

}

.header__signin:hover {
    color:#F53855;
}

@media screen and (max-width: 768px) {
    .header {
        background-color: #ffffff;
        position: fixed;
        left: 0;
        right: 0;
        padding: 20px;
        z-index: 10;
    }

    .header__container {
        align-items: center;
    }


    .header__menu {
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .header__buttons {
        display: none;
    }

    .header__nav {
        background: #ffffff;
        position: fixed;
        top: 72px;
        left: 0;
        right: 0;
        bottom: 0;
        margin-top: 0;
        padding-right: 40px;
        clip-path: circle(0 at top left);
        transition: clip-path 0.9s ease-in;
    }

    .header__nav.open {
        clip-path: circle(1000px at top);
    }

    .header__nav ul {
        flex-direction: column;
        height: 100%;
    }

    .header__nav .header__nav-item {
        margin-right: 0;
        padding-top: 10vh;
        flex: 1;
    }

    .header__nav a {
        font-weight: 500;
        display: block;
        font-size: 32px;
    }
    .header__menu > img {
        width: 24px;
        height: 24px;
    }

}

@media screen and (max-width: 1024px) {
    .header__nav-item {
        margin-right: 5px;
    }

    .header__nav-item:not(:last-child) {
        margin-right: 5px;
    }

}

